body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
    color: white;
}
.clock-container{
    text-align: center;
}
#clock{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 10px;
    width: 400px;
}