body{
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,1);
    text-align: center;
}
input{
    width: 90px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}
#display{
    font-size: 35px;
    margin: 20px 0;
    font-weight: bold;
}
button{
    padding: 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
button:nth-child(1) {background: #28a745; color: white;}
button:nth-child(2) {background: #ffc107; color: black;}
button:nth-child(3) {background: #dc3545; color: white;}