body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
    padding: 30px;
}
.controls button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 5px;
}
#text{
    margin-top: 30px;
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.light{
    background: #ffffff;
    color: #000000;
}
.dark{
    background: #121212;
    color: #ffffff;
}
#toggleBtn {
    padding: 20px 40px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 10px;
}
#showHideBtn{
    padding: 20px 40px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 10px;
}
#infoText{
    transition: 0.3s ease;
}