body{
    font-family: Arial;
    background: #f5f5f5;
    text-align: center;
    padding: 30px;
}
.heading{
    margin-bottom: 20px;
}
.conatiner{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.box img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
}
.box:hover img{
    transform: scale(1.2);
}
