body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: background 0.4s, color 0.4s;
}
body.light{
    background: white;
    color: black;
}
body.dark{
    background: #0d1117;
    color: white;
}
.container{
    text-align: center;
    margin-top: 150px;
}
button{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    color: white;
    background: #007bff;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background: #0056b3;
}

